
$logoWidth: 250px;

.container {
  ul {
    display: grid;
    grid-template-columns:repeat(3, 1fr) $logoWidth repeat(3, 1fr);
    justify-items: center;
    grid-gap: 10px;
    li {
        list-style: none;
        padding:20px;
    }
  }
}
