
$logoWidth: 300px;
$fullscreen-logoWidth: 932px;
$break-small: 320px;
$break-large: 932px;

body {
  font-family:'Droid Sans';
}

header { 
  margin-top:2vh;
  min-width:$break-small;
  @media screen and (max-width: $break-large) {
    display:none;
  }
}

.hide-mobile {
  @media screen and (max-width: $break-large) {
    display:none;
  }
}

.hide-desktop {
  @media screen and (min-width: $break-large) {
    display:none;
  }
}

.container {
  ul {
    display: grid;
    grid-template-columns:repeat(3, 1fr) $logoWidth repeat(3, 1fr);
    justify-items: center;
    align-items:center;
    grid-gap: 10px;
    @media screen and (max-width: $break-large) {
      grid-gap: 10px;
      grid-template-columns:1fr;
    }
    li {
        list-style: none;
        padding:20px;
        font-family:'Droid Sans';
        a {
          text-decoration: none;
          color:#999;
          transition: all 0.2s;
        }
    }
    :hover {
      a {
        color:#444
      }
    }
    li.link {
      text-transform: uppercase;
      font-size:0.7rem;
      margin-top:-10px;
      opacity: 1;
      transition: all .25s ease-in-out;
      -moz-transition: all .25s ease-in-out;
      -webkit-transition: all .25s ease-in-out;
      visibility: visible;
      white-space: nowrap;
      @media screen and (max-width: $break-large) {
        display:none;
      }
     
    }
    li.burger-menu {
      position: absolute;
      top: 1.5vh;
      right: 1.5vw;
      font-size:2rem;
      opacity:0.2
    } 
    li.logo {
      font-family:'Reenie Beanie';
      font-size:2.7rem;
      position:relative;
      text-align: center;
      .pro {
        font-weight: bold;
        font-size: 0.6rem;
        color: #fff;
        font-family: 'Droid Sans';
        text-align: center;
        float: none;
        background: #c00;
        padding: 0px 5px 0px 5px;
        border-radius: 3px;
        line-height: 16px;
        margin-top: 35px;
        z-index: 99999;
        position: absolute;
        margin-left: -70px;

        @media screen and (max-width: $break-large) {
          display: flex;
          margin-left:80px;
          margin-top:10px;

        }

        .grammer {
          color:#fff;
          opacity:0.5
        }
      }
    }
  }
}
